.title{
    text-align: center;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number button{
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

body{
    background-color: aquamarine;
}
